/*  your css code here. If applicable */
body{
	position:relative;
	height:100vh;
}

div {
	position:absolute;
	top:50%;
	left:50%;
	background-color:lightblue;
	width:200px;
	height:200px;
	transform:translate(-50%,-50%);
	text-align:center;
	
}
#t2{
	border:1px solid black;
	position:relative;
}
p{
	margin:0;
	position:absolute;
	background-color:gray;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}